.App {
  max-height: 100vh;
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "form result";
}

@media (max-width: 750px) {
  .App {
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "form"
      "result";
  }
}
